# Node modules
node_modules/

# Environment variables
.env

# Build outputs
dist/
build/

# Prisma client cache
.prisma/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS files
.DS_Store

# Editor folders
.vscode/
.idea/

# Other cache
*.log
